.wrap {
    margin: 0 auto;
}

.header {
    height: 120px;
    border: 1px solid #000;
    background: green;
}

.header-outbox {
    width: 500px;
    margin: 0 auto;
}

.logo {
    height: 100px;
    width: 100px;
    background: #000;
    margin: 10px;
}

.content {
    margin-bottom: 20px;
}

.banner {
    background: pink;
}

.banner-outbox {
    padding: 10px 0;
}

.footer {
    text-align: center;
}